div#wrapper {
    margin: auto;
    height: 100%;
    padding: 10%;
}

div#container {
    margin: auto;
    width: 732px; /* Twice the width to allow for page opening*/
    height: 439px;	/* padding with 15 px top and bottom */
    position: relative;
    padding: 15px;

    box-sizing: border-box;
}

.frontcover {
    background: -webkit-radial-gradient(circle, Gold, CadetBlue); /* Safari */
    background: -o-radial-gradient(circle, Gold, CadetBlue); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, Navy, Gold, CadetBlue); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, Gold, CadetBlue); /* Standard syntax */

    font-size: 3em;
    padding:10%;
}

small { font-size: 0.4em; }

.backcover {
    background-color: CadetBlue;
}

.frontcover, .backcover {
    color: Navy;
    font-family: Garamond, serif;
    font-style: italic;
    font-weight: bold;
    border: 5px double navy;
}


div.page {
    margin: auto;
    box-sizing: border-box;

    text-align: center;

    width: 366px;
    height: 439px;

    position: absolute;
    left: 366px;
    top: 0px;

}

img.page {
    width: 351px;
    height: 409px;

    position: absolute;
    left: 366px;
    top: 15px;
}


.page {
    transform-origin: top left;


}

div#page0 {
    animation-delay: 5s;
    z-index: 0;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page1 {
    animation-delay: 10s;
    z-index: -1;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page2 {
    animation-delay: 15s;
    z-index: -2;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}
img#page3 {
    animation-delay: 20s;
    z-index: -3;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}
img#page4 {
    animation-delay: 25s;
    z-index: -4;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page5 {
    animation-delay: 30s;
    z-index: -5;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page6 {
    animation-delay: 35s;
    z-index: -6;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page7 {
    animation-delay: 40s;
    z-index: -7;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page8 {
    animation-delay: 45s;
    z-index: -8;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page9 {
    animation-delay: 50s;
    z-index: -9;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

img#page10 {
    animation-delay: 55s;
    z-index: -10;
    animation-name: flippage;animation-duration: 1.5s;animation-fill-mode: forwards;
}

div#page11 {
    animation-name: none;
    animation-delay: 60s;
    z-index: -11;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes flippage {
    from {
        -webkit-transform: rotateY(0deg);
        z-index: 1;
    }
    to {
        -webkit-transform: rotateY(180deg);
        z-index: 1;
    }
}

/* Standard syntax */
@keyframes flippage {
    from {
        transform: rotateY(0deg);
        z-index: 1;
    }
    to {
        transform: rotateY(180deg);
        z-index: 1;
    }
}